<div class="card">
  <ul class="list-group list-group-flush">
    {{#each filteredResults as |result|}}
      <li class="list-group-item">{{link-to result.meal.name 'meals.view' result.meal.id}}</li>
    {{/each}}
  </ul>
</div>
