<div class="row">
  <div class="col">
    {{#if selectedMeals.length}}
    <div class="card">
      <ul class="list-group list-group-flush">
        {{#each selectedMeals as |meal index|}}
        <li class="list-group-item">
          <div class="row">
            <div class="col-10">
              {{meal.name}}
            </div>
            <div class="col-2">
              <button type="button" class="close" {{action "removeMeal" meal.id index mealTime dayOfWeek}} aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
          </div>
        </li>
        {{/each}}
      </ul>
    </div>
    {{else}}
    {{/if}}
  </div>
</div>
<div class="row mt-2">
  <div class="col">
    {{#power-select options=meals placeholder="Select a Meal" disabled=disableMenu onchange=(action "addMeal") as |meal|}}
      {{meal.name}}
    {{/power-select}}
  </div>
</div>
