body {
  padding-top: 20px;
}

$body-bg: #ffffff;
$primary: #6f2c91;
$secondary: #ffd700;

@import "ember-bootstrap/bootstrap";
@import "ember-power-select/themes/bootstrap";
@import "ember-power-select";
