body {
  padding-top: 20px;
  padding-bottom: 100px;
}
$body-bg: #ffffff;
$primary: #6f2c91;
$secondary: #ffd700;
$primary-color: $primary;
$ember-power-select-focus-border-color: $primary;
$font-family-sans-serif: 'Open Sans', sans-serif;
.custom {
  line-height: 2.5 !important;
  max-height: 2.5em !important;
}
$container-max-widths: (
  // sm: 540px,
  // md: 720px,
  // lg: 1200px,
  xl: 1200px
);

.ember-power-select-typeahead-input {
  // position: relative !important;
}

.btn.disabled {
  color: #A9A9A9 !important;
  border-color: #A9A9A9 !important;
}

#toast-container > .toast:before {
  position: fixed;
  font-family: FontAwesome;
  font-size: 24px;
  line-height: 18px;
  float: left;
  color: #FFF;
  padding-right: 0.5em;
  margin: auto 0.5em auto -1.5em;
}

#toast-container > .toast-warning:before {
  content: "\f003";
}

#toast-container > .toast-error:before {
  content: "\f00d";
}

#toast-container > .toast-info:before {
  content: "\f005";
}

#toast-container > .toast-success:before {
  content: "\f00c";
}
@import "ember-bootstrap/bootstrap";
@import "ember-power-select/themes/bootstrap";
@import "ember-power-select";
@import 'ember-power-select-typeahead';
@import "ember-cli-loaders/loaders";
@import "font-awesome";

#toast-container > .toast {
  background-image: none !important;
}
#toast-container > .toast-error {
  background-color: $danger;
}
