body {
  padding-top: 20px;
}

$body-bg: #ffffff;
$primary: #6f2c91;
$secondary: #ffd700;
$primary-color: $primary;

$container-max-widths: (
  // sm: 540px,
  // md: 720px,
  // lg: 1200px,
  xl: 1200px
);


#toast-container > .toast:before {
  position: fixed;
  font-family: FontAwesome;
  font-size: 24px;
  line-height: 18px;
  float: left;
  color: #FFF;
  padding-right: 0.5em;
  margin: auto 0.5em auto -1.5em;
}


#toast-container > .toast-warning:before {
  content: "\f003";
}
#toast-container > .toast-error:before {
  content: "\f00d";
}
#toast-container > .toast-info:before {
  content: "\f005";
}
#toast-container > .toast-success:before {
  content: "\f002";
}
@import "ember-bootstrap/bootstrap";
@import "ember-power-select/themes/bootstrap";
@import "ember-power-select";
@import "ember-cli-loaders/loaders";
@import "font-awesome";


#toast-container > .toast {
  background-image: none !important;
  background-color: $danger;
}
