<div class="row">
  <div class="col-4">
    <div class="card">
      <div class="card-body">
        <div class="row">
          <div class="col">
            <h4 class="text-center">Budget Usage: {{reportData.usage}}%</h4>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-4">
    <div class="card">
      <div class="card-body">
        <div class="row">
          <div class="col">
            <h4 class="text-center">This Week: ${{reportData.current}}</h4>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-4">
    <div class="card">
      <div class="card-body">
        <div class="row">
          <div class="col">
            <h4 class="text-center">Last Week: ${{reportData.last}}</h4>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
