<div class="row pt-4 pb-2">
  <div class="col">
    <h2>Menu for Week of {{title}}</h2>
  </div>
</div>
<div class="row">
  <div class="col">
    <table class="table">
      <thead>
        <tr>
          <th scope="col" style="width: 20%" class="text-center">
            Monday
          </th>
          <th scope="col" style="width: 20%" class="text-center">
            Tuesday
          </th>
          <th scope="col" style="width: 20%" class="text-center">
            Wednesday
          </th>
          <th scope="col" style="width: 20%" class="text-center">
            Thursday
          </th>
          <th scope="col" style="width: 20%" class="text-center">
            Friday
          </th>
        </tr>
      </thead>
      <tbody>
        {{#each meal_times as |meal_time|}}
          <tr>
            {{#each daysOfWeek as |day|}}
              <td>
                {{menu-day entries=model day=day meal_time=meal_time}}
              </td>
            {{/each}}
          </tr>
        {{/each}}
      </tbody>
    </table>
  </div>
</div>
