<div class="row pb-2">
  <div class="col-3">
    <h2>Create Menu for</h2>
  </div>
  <div class="col-4">
    {{#power-select options=weeks searchField="value" disabled=weekSaved selected=(find-by 'id' weekDestination weeks)  placeholder="Select a Week" onchange=(action "changeWeek") as |week|}}
      {{week.value}}
    {{/power-select}}
  </div>
  <div class="col">

  </div>
  <div class="col-1">
    <span class="d-inline-flex float-right" tabindex="0">
      {{#unless weekModel}}
        {{bs-tooltip title="Create the Menu first !" placement="right"}}
      {{/unless}}
      {{#link-to "weeks.list" weekModel.id classNames="btn btn-block btn-lg d-print-none btn-outline-primary" class=(if (not weekModel) 'disabled')}}
        {{fa-icon "cart-arrow-down"}} Generate Shopping List
      {{/link-to}}
    </span>
  </div>
</div>
<div class="row">
  <div class="col">
    <table class="table">
      <thead>
        <tr>
          <th scope="col" style="width: 20%" class="text-center">
            Monday
          </th>
          <th scope="col" style="width: 20%" class="text-center">
            Tuesday
          </th>
          <th scope="col" style="width: 20%" class="text-center">
            Wednesday
          </th>
          <th scope="col" style="width: 20%" class="text-center">
            Thursday
          </th>
          <th scope="col" style="width: 20%" class="text-center">
            Friday
          </th>
        </tr>
      </thead>
      <tbody>
        {{#each meal_times as |meal_time|}}
          <tr>
            {{#each daysOfWeek as |day|}}
              <td>
                {{new-menu-day openDuplicateModel="openDuplicateModel" createSemester="createSemester" weekDestination=weekDestination weekModel=weekModel
                  disableMenu=disableMealSelector mealTime=meal_time dayOfWeek=day mealArray=meals weekSaved=weekSaved}}
              </td>
            {{/each}}
          </tr>
        {{/each}}
      </tbody>
    </table>
  </div>
</div>
