<div class="row">
  <div class="col">
    <h2>Reports</h2>
  </div>
</div>
<hr />
{{reports/top-level reportData=reportData}}
<div class="row mt-3">
  <div class="col-6">
    {{ember-chart type="line" data=SemesterPurchaseData options=SemesterPurchaseOption}}
  </div>
  <div class="col-6">
    {{#unless isLoading}}
      {{ember-chart type="line" data=CumalativePurchaseData options=CumalativePurchaseOption}}
    {{/unless}}
  </div>
</div>
