<div class="row">
  <div class="col">
    <h2>Reports</h2>
  </div>
</div>
<hr />
{{reports/top-level}}
<div class="row mt-3">
  <div class="col-6">
    {{ember-chart type="line" data=CHARTDATA options=CHARTOPTIONS}}
  </div>
  <div class="col-6">
    {{ember-chart type="line" data=CHARTDATA options=CHARTOPTIONS}}
  </div>
</div>
