<div class="jumbotron">
  <h1 class="display-4">ΔΤΔ Food App</h1>
  <p class="lead">Elegant app to create menus and generate shopping lists.</p>
  <hr class="my-4">
  <p class="lead">
    {{link-to "Create Menu" "menus.new" class="btn btn-lg btn-outline-primary"}}
  </p>
</div>
